body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.post-image {
    margin: 0 0 2em;
}

.post-content {
    margin: 0 0 2em;
    font-size: 1.4em;
}

.post-content::first-letter {
    display: block;
    float: left;
    margin: 4px 5px 0;
    font-family: "Times", serif;
    font-size: 6em;
    line-height: 0.6;
    color: #333;
}

.post-content::after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
}

/* nittro <-> bootstrap compatibility */

.navbar-fixed-top {
  z-index: 900;
}

.nittro-flash-global-holder {
  z-index: 1100;
}

.nittro-flash.nittro-flash-success {
  background-color: #dff0d8;
}
