body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.post-image {
    margin: 0 0 2em;
}

.post-content {
    margin: 0 0 2em;
    font-size: 1.4em;
}

.post-content::first-letter {
    display: block;
    float: left;
    margin: 0 5px 2px 0;
    font-family: "Times", serif;
    font-size: 4em;
    line-height: 1;
    color: #333;
}




/* nittro <-> bootstrap compatibility */

.navbar-fixed-top {
    z-index: 900;
}

.nittro-flash-global-holder {
    z-index: 1100;
}

.nittro-flash.nittro-flash-success {
    background-color: #dff0d8;
}
