parameters:


application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter

# Register Nittro Latte macros
latte:
    macros:
        - Nittro\Bridges\NittroLatte\NittroMacros

session:
    expiration: 14 days

database:
    dsn: 'sqlite:%appDir%/models/blog.s3db'
    debugger: true
    options: [
        lazy: true
    ]


services:
    router: App\RouterFactory::createRouter
    - App\Models\BlogModel(picturePath: "%wwwDir%/images/posts")
